body{
    font-size:20px;
    margin: 0;
    background-color: lightgreen;
    font-family: Arial;
    font-weight: bolder;
}

button{
    font-size: 20px;
    padding: 10px;
    background-color: wheat;
    border: solid seagreen 2px;
    border-radius: 5px;
}

button:hover{
    padding: 10px;
    background-color: greenyellow;
    border: solid dodgerblue 2px;
}
button:active{
    padding: 5px;
    background-color: greenyellow;
    border: solid dodgerblue 2px;
    margin: 5px;
}

input{
    background-color: aliceblue;
    border: solid deepskyblue 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
input:focus{
    background-color: aliceblue;
    border: solid deepskyblue 2px;
    border-radius: 10px;
}

a{
    position: relative;
    left: 40%;
    color: skyblue;
    text-decoration: none;
    margin: 40px;
    padding: 10px;
    background-color: aliceblue;
    border: solid bisque 2px;
    border-radius: 10px;
}

h1{
    font-size: xx-large;
}
p{
    font-size: x-large;
    font-weight: bolder;
    margin:30px;
}

.my-list{
    list-style: none;
    border: solid skyblue 1px;
    border-radius: 5px;
    position: relative;
    left: 10%;
    width: 70%;
    cursor: auto;
    padding: 1px;
    margin: 32px;
}

.my-item{
     border-bottom: solid skyblue 1px;
    background-color: greenyellow;
    padding: 0px;
    text-align: center;
    transition-duration: 0.5s;
}

.my-item:hover{
    background-color: aqua;
    transition-duration: 0.5s;
}
